
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
  </head>

  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">The Block chain</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Timestamp</th>
                  <th>Hash</th>
                  <th>Height</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="block in blockTableCtrl.blockChain| filter:query | limitTo:10">
                  <td>{{block.index}}</td>
                  <td>{{block.time}}</td>
                  <td><a href="#/blocktable/detail/{{block.hash}}"> {{block.hash}}</a></td>
                  <td>{{block.height}}</td>
                </tr>
              </tbody>
            </table>
            <a class="pointer" ng-show="blockTableCtrl.blockChain.length>9" ng-click="blockTableCtrl.next10()">Previous 10 </a>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
